* {
  /* border: solid 1px white; */
}


body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: #1f2937;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  padding-left: 15%;
  padding-right: 15%;
}

.header-logo {
  width: 300px;
  display: flex;
  font-size: 24px;
  color: #f9faf8;
}

.nav-bar {
  display: flex;
  gap: 32px;
  margin-left: auto;
  font-size: 18px;
  color: #e5e7eb;
}

.main-title {
  display: flex;
  background-color: #1f2937;
  padding-left: 15%;
  padding-right: 15%;
}

.title-text-box {
  font-size: 48px;
  font-weight: 800; /* 800 is for ultra bold */ 
  color: #f9faf8;
}

.title-subtext {
  font-size: 18px;
}

.title-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bunny {
  width: 85%;
}

.signup-button {
  background-color: #3882f6;
}