body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  
}

.header-logo {
  width: 300px;
  display: flex;
}

.nav-bar {
  display: flex;
  gap: 32px;
  margin-left: auto;
}